<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/lessons">Lessons</a></li>
        </ul>
    </nav>
    <a href=""><img src="/images/avatar.png" alt="avatar"></a>
</header>